.setting-main-container {
    padding: 20px;
    margin: 20px;
    border: 0.3px solid rgba(128, 128, 128, 0.4);
    border-radius: 10px;

    .user-details-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h3 {
            font-size: 1.4rem;
            font-weight: 800;
        }
    }

    .setting-details-form-container form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
        }

        input,
        textarea {
            padding: 10px 20px;
            border: 0.3px solid rgba(128, 128, 128, 0.4);
            border-radius: 5px;
            margin-bottom: 15px;
            outline: 0.3px solid transparent;
            width: 100%;
            resize: vertical;

            &:focus {
                outline: 0.3px solid blue;
            }
        }
    }
}