.display-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    height: 120px;
    border: 0.3px solid rgba(128, 128, 128, 0.4);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    
    &:hover {
        border: 0.3px solid rgba(128, 128, 128, 1);
    }

    .heading {
        font-size: 14px;
        color: rgb(91, 91, 91);
    }

    .data-with-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        .number {
            font-size: 1.9rem;
            font-weight: 800;
        }

        .icon {
            width: 50px;
            aspect-ratio: 1/1;
            background-color: rgba(0, 0, 255, 0.247);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            flex-shrink: 0;

            svg{
                color: white;
                font-size: 1.7rem;
            }
        }
    }
}